
.cart {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color:#014A53
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    width: 80px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-name {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .cart-item-price,
  .cart-item-description {
    margin-bottom: 5px;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    background: none;
    border: 2px solid #333;
    padding: 5px 10px;
    margin: 0 5px;
  }

  .quantity-controls button:first-child {
    transition: background-color 0.3s;
  }

  .quantity-controls button:first-child:hover {
    background-color: red;
  }

  .quantity-controls button:last-child {
    transition: background-color 0.3s;
  }

  .quantity-controls button:last-child:hover {
    background-color:#4CBB17;
  }
  
  
  .quantity-controls span {
    min-width: 30px;
    text-align: center;
  }
  
  .cart-item-remove {
    background: #014A53;
    color: white;
    border: none;
    padding: 5px 15px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cart-item-remove:hover {
    background: #ff0000;
  }
  
  .cart-total {
    text-align: right;
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  .checkout-button {
    background-color: #014A53;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .checkout-button:hover {
    background-color: #4CBB17;
  }
  
  .cart-empty-message {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color:#014A53
  }
  