.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #BBC4C9
  }
  
  .home-content {
    flex: 1;
    background-color: #BBC4C9;

    /* styles for main content */
  }

.logout-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}