.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .login-form {
    padding: 50px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #014A53;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #014A53;
  }
  
  .login-form p {
    text-align: center;
  }
  
  .login-form a {
    color: #014A53;
    text-decoration: none;
  }
  
  .login-error {
    color: red;
    text-align: center;
  }
  