.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .products-title {
    text-align: center; 
    font-size: 50px; 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    color: #014A53;
  }
  