.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .register-form {
    padding: 100px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #014A53;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #45a049;
  }
  
  .register-form p {
    text-align: center;
  }
  
  .register-form a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  /* Add more styles as per your requirement */
  