.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #014A53;
    padding: 0.1rem;
    background-color: #fff;
    text-align: right;
    font-size: 1rem;
    border-top: 2px solid #ddd;
    z-index: 1000;
  }
  
  body {
    padding-bottom: 100px;
  }