.header {
  width: 100%;
  height: 100px; 
  background-color: #014A53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 350px;
  font-size: 80px;
}

.logo {
  height: 100px; 
  width: auto; /* Maintains the aspect ratio of the logo */
  margin-right: 10px; /* Adds some space between the logo and the next element */
}