nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color); /* Use a variable or specific color */
    padding: 10px 20px;
  }
  
  nav a {
    color: #014A53;
    text-decoration: none;
    margin-right: 100px;
    font-size: 50px;
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
  }
  
  nav a:hover {
    color: var(--secondary-color);
    transform: translateY(-10px);
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
  }
  
